  <% if @user.errors.any? %>
    <%= @user.errors.count %>error prohibited this book from being saved:
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_with model: @user do |f| %>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
         <h2>User info</h2>
          
          <th>Name</th>
           <%= f.text_field :name%>
              
          <th>Image</th>
           <%= f.file_field :profile_image, accept: "image/*" %>  
            	
          <th>Introduction</th>
           <%= f.text_area :introduction %>
            	
           <%= f.submit 'Update User' %>
              
  <% end %>
            
        </div>  
      </div>  
    </div>    
  </main>  